################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################


/TransitionAcademy
/Stage 2/eCommerce-Core/3rdParty
/Stage 2/eCommerce-Core/Activities
/Stage 2/eCommerce-Core/DPLRef.eCommerce/CodeGraphData
/Stage 2/eCommerce-Core/.gitignore
